<form class="cadastro grid">
  <h1 class="col-12">Cadastro</h1>
  <div class="input-cadastro" [formGroup]="formCadastro">

    <div class="col-12 input">
      <label> Nome de usuário </label><br>
      <input
        formControlName="nome"
        autofocus
        pInputText
        type="text">
    </div>

    <div class="col-12 input">
      <label> CPF </label><br>
      <input
        formControlName="cpf"
        pInputText
        type="text">
    </div>

    <div class="col-12 input">
      <label> CRM </label><br>
      <input
        formControlName="crm"
        pInputText
        type="text">
    </div>

    <div class="col-12 input">
      <label> Celular </label><br>
      <input
        formControlName="celular"
        pInputText
        placeholder="(DDD)90000-0000"
        type="text">
    </div>

    <div class="col-12 input">
      <label> Email </label><br>
      <input
        formControlName="email"
        pInputText
        placeholder="usuario@email.com"
        type="text">
    </div>

    <div class="col-12 input">
      <label> Senha </label><br>
      <input
        formControlName="senha"
        pInputText
        type="password">
    </div>

    <div class="col-12 input">
      <label> Observação </label><br>
      <input
        formControlName="obs"
        pInputText
        type="text">
    </div>
    <br>
    <div class="buttons">
      <p-button (click)="cadastrar()"> Cadastrar</p-button>
      <p-button (click)="login()"> Ir para login</p-button>
    </div>
  </div>
</form>
