<form class="login grid">
  <h1 class="col-12">Login</h1>
  <div class="input-login" [formGroup]="formLogin">
    <div class="col-12 input">
      <label> CRM </label><br>
      <input
        formControlName="crm"
        autofocus
        pInputText
        type="text">
    </div>

    <div class="col-12 input">
      <label> Senha </label><br>
      <input
        formControlName="senha"
        autofocus
        pInputText
        type="password">
    </div>
    <div class="buttons">
      <p-button (click)="entrar()"> Entrar</p-button>
      <p-button (click)="cadastrar()">Cadastrar</p-button>
    </div>
  </div>
</form>
