<div class="apresentacao">
  <div class="header">
    <h1>Tela de boas vindas/apresentação</h1>
  </div>

  <div class="body">
    <p>Textos / imagens relacionados a cardiologia Textos / imagens relacionados a cardiologia Textos / imagens relacionados a cardiologia Textos / imagens relacionados a cardiologia Textos / imagens relacionados a cardiologia Textos / imagens relacionados a cardiologia Textos / imagens relacionados a cardiologiaTextos / imagens relacionados a cardiologia Textos / imagens relacionados a cardiologiaTextos / imagens relacionados a cardiologiaTextos / imagens relacionados a cardiologiaTextos / imagens relacionados a cardiologia Textos / imagens relacionados a cardiologia Textos / imagens relacionados a cardiologia Textos / imagens relacionados a cardiologia Textos / imagens relacionados a cardiologia Textos / imagens relacionados a cardiologiaTextos / imagens relacionados a cardiologiaTextos / imagens relacionados a cardiologia Textos / imagens relacionados a cardiologia Textos / imagens relacionados a cardiologia </p>
  </div>
</div>
